html {
  font-size: 62.5%;
}

/* Global utilities */

.u-pullLeft {
  float: left !important;
}

.u-pullRight {
  float: right !important;
}

/* Button component */

.Button {
  border: 1px solid;
  border-radius: 0.5rem;
}

.Button + .Button {
  margin-left: 1rem;
}


/* Button component modifiers */

.Button--primary {
  background-color: blue;
  border-color: blue;
  color: white;
}

.Button--secondary {
  background-color: white;
  color: blue;
}

.Button--large {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.Button--medium {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.Button--small {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

/* Button component descendants */

.Button-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Button component states */

.Button.is-disabled {
  opacity: 0.4;
}

/* Other demo styles */

.group {
  margin: 2rem 0;
}
