/* Global utilities */

.u-pullLeft {
  float: left !important;
}

.u-pullRight {
  float: right !important;
}

/* Button component */

.Button {
  border: 1px solid;
  border-radius: 5px;
}

/* Button component modifiers */

.Button--primary {
  background-color: blue;
  border-color: blue;
  color: white;
}

.Button--secondary {
  background-color: white;
  color: blue;
}

.Button--large {
  font-size: 16px;
  padding: 10px 20px;
}

.Button--medium {
  font-size: 14px;
  padding: 5px 10px;
}

.Button--small {
  font-size: 10px;
  padding: 2px 5px;
}

/* Button component descendants */

.Button-text {
  font-family: monospace;
}

/* Button component states */

.Button.is-disabled {
  opacity: 0.4;
}

/* Other demo styles */

.group {
  margin: 20px 0;
}
